blog posts<br>
<%= link_to "Create", new_blog_path %> <br>

<% @blogs.each do |blog|%>
    <%= blog.title %> <br>
    <%= blog.content %> <br>
    <li><%= link_to blog.title, blog_path(blog)%></li>
<% end %>